* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; 
  background-color: #f7f7f7; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#App {
  border-radius: 3px; 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
  background-color: beige; 
  height: 80vh;
  width: 60vh;
  border: 5px solid black;
}

.calculator {
  display: flex;
  flex-direction: column; 
  border: 1px solid #e0e0e0; 
  box-shadow: #e0e0e0;
  border-radius: 5px; 
  overflow: hidden; 
  height: 100vh; 

}

.calculator .row {
  height: 20vh;  
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}


.formulaScreen, .outputScreen {
  color: white;
  text-align: right;
  padding: 20px;
  height: 10vh;
  font-size: 1.2em;
  background-color: black;
}

.buttons .btn, .calculator .row {
  height: 100%;
}

.buttons {
  flex-wrap: nowrap; 
  height: 80vh;  
  display: flex;
  flex-direction: column; 
}

.buttons .btn {
  transition: background-color 0.3s ease, transform 0.1s ease; 
  color: whitesmoke;
  background-color: burlywood;
  border: none;
  border-top: 1px solid #e0e0e0; 
  flex-grow: 1; 
  padding: 0;
  font-size: 1.3em; 
}

.buttons .btn:active {
  transform: scale(0.97); 
}

.buttons .row {
  margin: 0 -1px; 
}

.buttons .btn:last-child {
  border-bottom: none; 
}

.buttons .btn:hover {
  background-color: #e0e0e0; 
  color: black;
}

.buttons .row,
.buttons [class^="col-"] {
  padding: 0;
  margin: -1px 0; 
}

.author {
  font-size: 0.8em; 
  text-align: center;
  margin-top: 20px; 
}

.author a {
  color: #007BFF; 
  text-decoration: none;
  transition: color 0.3s ease; 
}

.author a:hover {
  color: #0056b3;
}